<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifecycle of a Plastic Bottle</title>
    <link rel="stylesheet" href="~/css/Issue.Css">

</head>
<body>
    <nav>
        <img src="~/images/white_logo.png" alt="Logo" class="logo">
        <ul id="sidebar">
            <li><a href="WM.html#header" target="_blank">Home</a></li>
            <li><a href="WM.html#about-us" target="_blank">About Us</a></li>
            <li><a href="WM.html#rec-center" target="_blank">Recycling Centers</a></li>
            <li><a href="WM.html#edu-res" target="_blank">Educational Resources</a></li>
            <li><a href="WM.html#Schedule-Pickup" target="_blank">Schedule Pickup</a></li>
            <li><a href="WM.html#user-reg" target="_blank">Register</a></li>
            <li><a href="profile.html" target="_blank">Profile</a></li>
        </ul>
    </nav>
    <h1 id="header-text">
        LIFECYCLE OF A <span>PLASTIC BOTTLE</span>
    </h1>
    <p>
        A plastic bottle's life cycle is a journey that starts with production, continues with use, and ultimately ends in disposal or recycling. Here’s an overview of the key stages:
    </p>
    <ul type="disc">
        <li><h3>Production: </h3>Petroleum is extracted and refined into plastic pellets, which are molded into bottles.</li>
        <li><h3>Uses:</h3>Bottles are filled with liquids and sold to consumers.</li>
        <li><h3>Disposal or Recycling:</h3>Once discarded, plastic bottles may end up in landfills, the ocean, or be recycled.</li>
    </ul>
    <h3>
        Environmental Impact
    </h3>
    <ul type="disc">
        <li>The production of plastic bottles contributes to pollution and high carbon emissions.</li>
        <li>If not recycled, plastic takes hundreds of years to decompose in landfills, leaching toxic chemicals into the ground.</li>
    </ul>
    <img src="~/images/tip.png" alt="Please refresh the page" class="i3">
    <p>
        Recycling plastic bottles helps reduce pollution and conserve natural resourcess
    </p>
    <script src="~/js/Issue.js"></script>
</body>
</html>