<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overconsumption and Improper Disposal of Goods</title>
    <link rel="stylesheet" href="~/css/Issue.Css">

</head>
<body>
    <nav>
        <img src="~/images/white_logo.png" alt="Logo" class="logo">
        <ul id="sidebar">
            <li><a href="~/Home/Index#header">Home</a></li>
            <li><a href="~/Home/Index#about-us">About Us</a></li>
            <li><a href="~/Home/Index#rec-center">Recycling Centers</a></li>
            <li><a href="~/Home/Index#edu-res">Educational Resources</a></li>
            <li><a href="~/Home/Index#Schedule-Pickup">Schedule Pickup</a></li>
            <li><a href="~/Home/Index#user-reg">Register</a></li>
        </ul>
    </nav>
    <h1 id="header-text">
        OVERCONSUMPTION <span>&</span> IMPROPER DISPOSAL OF GOODS
    </h1>
    <p>
        The rising levels of consumption and improper disposal of goods are harming the environment.
    </p>
    <h3>
        Key Issues:
    </h3>
    <ul type="disc">
        <li><h3>Overconsumption:</h3>We tend to buy more than we need, contributing to excessive waste. This depletes natural resources and increases landfill waste.</li>
        <li><h3>Improper Disposal:</h3>Items like electronics, textiles, and hazardous materials should never be thrown away in regular trash. Improper disposal leads to pollution and harm to ecosystems.</li>
    </ul>
    <h3>
        What You Can Do:
    </h3>
    <ul type="disc">
        <li><h3>Buy less, buy better:</h3>Invest in durable, long-lasting products.</li>
        <li><h3>Recycle Properly:</h3>Separate your recyclables and dispose of hazardous materials correctly.</li>
        <li><h3>Donate or Recycle</h3>Rather than throwing things away, donate or repurpose items.</li>

    </ul>
    <img src="~/images/disposal.JPG" alt="Please refresh the page" class="i3">
    <p>
        Taking small steps to reduce overconsumption and dispose of goods responsibly helps protect the environment.
    </p>
    <script src="~/js/Issue.js"></script>
</body>
</html>