<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips to reduce Plastic Waste</title>
    <link rel="stylesheet" href="~/css/Issue.Css">

</head>
<body>
    <nav>
        <img src="~/images/white_logo.png" alt="Logo" class="logo">
        <ul id="sidebar">
            <li><a href="WM.html#header" target="_blank">Home</a></li>
            <li><a href="WM.html#about-us" target="_blank">About Us</a></li>
            <li><a href="WM.html#rec-center" target="_blank">Recycling Centers</a></li>
            <li><a href="WM.html#edu-res" target="_blank">Educational Resources</a></li>
            <li><a href="WM.html#Schedule-Pickup" target="_blank">Schedule Pickup</a></li>
            <li><a href="WM.html#user-reg" target="_blank">Register</a></li>
            <li><a href="profile.html" target="_blank">Profile</a></li>
        </ul>
    </nav>
    <h1 id="header-text">
        TIPS FOR REDUCING <span>PLASTIC WASTE</span>
    </h1>
    <p>
        Reducing plastic waste is essential to protecting our oceans and wildlife. Here are some effective tips to reduce plastic consumption:
    </p>
    <dl>
        <dt>Use reusable bags and bottles: </dt>
        <dd>Invest in reusable shopping bags, bottles, and containers.</dd>
        <dt>Avoid single-use plastics: </dt>
        <dd>Choose products with minimal plastic packaging.</dd>
        <dt>Buy in bulk: </dt>
        <dd>Purchase products in bulk to minimize packaging waste.</dd>
        <dt>Choose natural materials: </dt>
        <dd>Opt for biodegradable or compostable products instead of plastic.</dd>
    </dl>
    <div class="image-container">
        <img src="~/images/Plastic pollution.png" alt="Plastic Pollution" class="i2">
        <img src="~/images/save ocean.png" alt="Tip" class="i2">
    </div>
    <p>
        Small actions can collectively make a huge difference in reducing plastic waste.
    </p>
    <script src="~/js/Issue.js"></script>
</body>
</html>