<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Improper sorting of recycling materials</title>
    <link rel="stylesheet" href="~/css/Issue.Css">

</head>
<body>
    <nav>
        <img src="~/images/white_logo.png" alt="Logo" class="logo">
        <ul id="sidebar">
            <li><a href="WM.html#header" target="_blank">Home</a></li>
            <li><a href="WM.html#about-us" target="_blank">About Us</a></li>
            <li><a href="WM.html#rec-center" target="_blank">Recycling Centers</a></li>
            <li><a href="WM.html#edu-res" target="_blank">Educational Resources</a></li>
            <li><a href="WM.html#Schedule-Pickup" target="_blank">Schedule Pickup</a></li>
            <li><a href="WM.html#user-reg" target="_blank">Register</a></li>
            <li><a href="profile.html" target="_blank">Profile</a></li>
        </ul>
    </nav>
    <h1 id="header-text">
        IMPROPER SORTING OF <span>RECYCLING MATERIALS</span>
    </h1>
    <p>
        Improper sorting happens when non-recyclable items or contaminated materials are placed in recycling bins. This can result in:
    </p>
    <ul type="disc">
        <li><h3>Contamination of Recyclables:</h3>A single greasy pizza box or a dirty food container can ruin an entire batch of paper or plastics, making them unusable for recycling.</li>
        <li><h3>Equipment Damage:</h3>Non-recyclable items like plastic bags or wires can tangle recycling machinery, causing breakdowns and expensive repairs.</li>
        <li><h3>Increased Waste:</h3>Materials that are incorrectly sorted often get sent to landfills, negating recycling efforts and increasing environmental strain.</li>
    </ul>
    <h1 style="text-align: center; padding-top: 1%;">
        How to Avoid Improper Sorting:
    </h1>
    <ul type="disc">
        <li><h3>Know your local rules: </h3>Recycling guidelines vary. Check what materials are accepted in your area.</li>
        <li><h3>Rinse and clean</h3>Wash containers to remove food residue.</li>
        <li><h3>Avoid Wish-Cycling</h3>Don’t toss in items you hope are recyclable. When in doubt, leave it out.</li>
    </ul>
    <div class="image-container">
        <video width="300px" height="auto" controls autoplay loop muted>
            <source src="~/images/sorting.mp4" type="video/mp4" class="i2">
            Your browser does not support the video tag.
        </video>
        <img src="~/images/Sort Your Waste Properly.png" alt="Please refresh the page" class="i2">
    </div>
    <p>
        Proper sorting ensures your recyclables are processed efficiently, reducing waste and conserving resources. Let's recycle right!
    </p>
    <script src="~/js/Issue.js"></script>
</body>
</html>