<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="container">
        <div class="card-container">
            <div class="card" id="card">
                <div class="card-front"></div>
                <div class="card-back"></div>
            </div>
        </div>
        <div id="form">
            <h1>
                <span class="welcome">WELCOME</span>
                <span class="back">BACK!</span>
            </h1>
            <div class="form-container">
                @using (Html.BeginForm("Log_in", "Home", FormMethod.Post, new { @class = "form-info" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <label for="email">Email: </label>
                        <input type="email" id="email" name="email" placeholder="Enter your email id" />
                    </div>
                    <div class="form-row">
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" />
                    </div>

                    <div class="form-buttons">
                        <button type="submit" class="btn btn-login">Log in</button>
                        <p style="color:darkred">@ViewBag.form3Message</p>
                        <button type="button" class="btn btn-clear" onclick="document.querySelector('.form-info').reset();">Clear</button>
                    </div>
                    <div class="Signin-section">
                        <span class="signin-text">Don't have an account?</span>
                        <button type="button" class="btn btn-signin" onclick=" location.href='/Home/Index#user-reg'" target="_blank">Sign in</button>
                    </div>
                }

            </div>
        </div>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>
